@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: white;
}

#poster {
  background-color: #31393c;
}

.poster-container {
  padding: 1cm;
  display: flex;
  justify-content: center;
  align-items: center;
}
